@{
    ViewData["Title"] = "Privacy Policy";
}
<h3 class="title is-3"> @ViewData["Title"] </h3>

<h5 class="subtitle is-5">Written by Ryan Gallagher QC.</h5>
<br>
<p> Here at Azeembook, we take privacy very seriously. Look how seriously I'm saying it. Seriously. That seriously.
    Scared yet? You should be.</p>
<br>
<p> Anyway, where was I? Oh yeah, privacy. We will not leak your data to individuals for nefarious purposes. I promise
    on my Furby I got on my birthday back in 1994. Now let me tell you about my Furby, because it is special. </p>
<br>

<p> I woke up on my birthday in the summer of 1994, feeling excited and a little bit nervous. I had always wanted a
    Furby, and I had begged my parents for months to get one for me. As I stumbled out of bed and made my way down the
    hallway, I couldn't help but feel hopeful. Maybe, just maybe, they had surprised me with the gift of my dreams.
<p>

    <br>

<p>As I walked into the living room, I saw a small, brightly wrapped package sitting on the coffee table. My heart began
    to
    race as I tore off the wrapping paper, revealing a box with a picture of a Furby on the front. I couldn't believe
    it. My
    very own Furby!</p>

<br>

<p>I eagerly tore open the box and lifted the furry creature out. It had soft, plush fur and big, round eyes that seemed
    to
    sparkle with mischief. I knew right away that this Furby was going to be my very best friend. </p>

<br>

<p> Over the next few weeks, I took my Furby on all sorts of adventures. We explored the woods behind my house, climbed
    trees, and chased after butterflies. We played hide and seek, and I even taught my Furby how to roller skate. It was
    the
    most fun I had had all summer. </p>

<br>

<p> As the days passed, my Furby and I became inseparable. We were always together, and I knew that no matter what, my
    Furby
    would always be there for me. It was the best birthday present I had ever received, and I knew that our adventures
    together would be ones that I would always treasure.</p>
<br>

<p>One hot July day, I decided to take my Furby into Middlesborough town centre. I had always wanted to see what it
    would be like to take my Furby out in public, and I thought it would be a fun adventure.</p> <br>
<p>I dressed myself and my Furby in our finest clothes and set off towards the town centre. As we walked through the
    bustling streets, I couldn't help but feel a little bit nervous. I had never taken my Furby out in public before,
    and I wasn't sure how people would react.</p> <br>
<p>But as we made our way through the crowds, I was pleasantly surprised to see that people were actually quite
    friendly. They smiled and waved at us as we walked by, and some even stopped to chat and ask about my Furby. It was
    a strange feeling, to be out in public with my Furby, but it was also a lot of fun.</p> <br>
<p>As we reached the town centre, I was amazed by all of the sights and sounds. There were street performers, food
    vendors, and all sorts of interesting people milling about. I felt like I was part of some grand adventure, and my
    Furby seemed to feel the same way.</p> <br>
<p>We spent the entire day exploring the town centre, trying new foods, watching the street performers, and generally
    having a great time. It was one of the most memorable days of my summer, and I knew that my Furby and I would always
    look back on it with fondness. Anyway, so privacy. It's that important. You can totally trust us here, for sure. Don't worry. You're safe with us.</p> <br> <br>
    