@model acebook.Models.User
<style>
    .profile-header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    .profile-header h2 {
        margin: 0;
        font-size: 36px;
    }

    .profile-header p {
        margin: 0;
        font-size: 16px;
    }

    .profile-posts {
        margin-top: 20px;
    }

    .profile-posts li {
        list-style: none;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
</style>
@{
    string greeting;
    switch (DateTime.Today.DayOfWeek)
    {
        case DayOfWeek.Monday:
            greeting = "Happy Monday,";
            break;
        case DayOfWeek.Tuesday:
            greeting = "Happy Tuesday,";
            break;
        case DayOfWeek.Wednesday:
            greeting = "Happy Wednesday,";
            break;
        case DayOfWeek.Thursday:
            greeting = "Happy Thursday,";
            break;
        case DayOfWeek.Friday:
            greeting = "Happy Friday,";
            break;
        case DayOfWeek.Saturday:
            greeting = "Happy Saturday,";
            break;
        case DayOfWeek.Sunday:
            greeting = "Happy Sunday,";
            break;
        // Add more cases for the other days of the week
        default:
            greeting = "Hello";
            break;
    }
}

<div class="profile-header">
        <img src="Images/sloth.jpg" class="this is you" alt="this is what you look like" style="width:100px;height:160px;" />
    <h2>@greeting @Model.Name</h2>
    <p>Email: @Model.Email</p>
<i><div id="activity"></div></i>
<i><div id="ip"></div></i>
</div>



<div class="container profile-posts">
    <h3>Posts</h3>
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>@post.Content</li>
        }
    </ul>
</div>
<script> 
    // Make an HTTP GET request to the API endpoint
    fetch('https://www.boredapi.com/api/activity/')
        .then(response => response.json())  // Parse the response as JSON
        .then(data => {
            // Get the activity from the response data
            let activity = data.activity.toLowerCase();
            // Display the activity suggestion in the div element
            document.getElementById('activity').innerHTML = `Bored? Why don't you ${activity}!`;
        });
</script>
