@model acebook.Models.User

<form action="/profile/{userId}" method="get">
    <input type="number" name="q" placeholder="Search for a user">
    <input type="submit" value="Search">
</form>



@if (ViewBag.Users != null && ViewBag.Users.Count > 0)
{
    <h3>Search Results</h3>
    <p>Results for: @ViewBag.Query</p>
    <ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>
            <a href= "/profile/@user.Id">@user.Name</a>
        </li>
    }
</ul>

}
else
{
    <p>No results found for: @ViewBag.Query</p>
}
