<h3 class="title is-3">Posts</h3>

<form action="/posts" method="post">
  <input type="text" name="content"/>
  <input type="submit" value="Submit"/>
</form>

<br>

@foreach (Post post in ViewBag.Posts)
{
<div class="box">
  <div>
  <b>
    <p>
      <a href="/profile/@post.User.Id" class="black-link underline-on-hover">@post.User.Name
      </a>

  </b>
  <p>@post.Content</p>
  <p>@post.Likes</p>
  </div>
</div>
}
<br> 
<br>
<br>
