<h1>Posts</h1>

<form action="/posts" method="post">
  <input type="text" name="content"/>
  <input type="submit" value="Submit"/>
</form>

@foreach (Post post in ViewBag.Posts)
{
  <div>
  <b><p>@post.User.Name </p> </b>
  <p>@post.Content</p>
  </div>
}
