<h3 class="title is-3">Posts</h3>

<form action="/posts" method="post">
  <input type="text" name="content"/>
  <input type="submit" value="Submit"/>
</form>

<br>




@foreach (Post post in ViewBag.Posts)
{
<div class="box">
  <div>
  <b><p><img src="Images/slothavatar.png" class="this is you" alt="this is what you look like" style="width:40px;height:40px;" />

      <a href="/profile/@post.User.Id" class="black-link underline-on-hover">@post.User.Name</p> </b>
  <p>@post.Content</p>
  </div>
   @if (post.Comments?.Count > 0)
    {
      <br>
      <h4>Comments Section</h4>
   @foreach (Comment comment in post.Comments)
            {
                <div>
                    <i><p>@comment.User.Name</p></i>
                    <p>@comment.Content</p>
                </div>
            }}
            <form action="/posts/@post.Id/comments" method="post">
            <div class="field">
                <label class="label">Leave a comment:</label>
                <div class="control">
                    <input type="text" class="input" name="content"/>
                </div>
            </div>
            <div class="control">
                <input type="submit" class="button is-link" value="Submit Comment"/>
            </div>
        </form>
</div>
}
<br> 
<br>
<br>
